///
/// Color palette
///
$color-dark: #2b303b;
$color-black: #000000;
$color-light: #F1F1F1;
$color-lt-gray: #CCCCCC;
$color-gray: #999999;
$color-text: #6e8390;
$color-darkblue: #0f73c4;
$color-blue: #3595ac;
// $color-green: #2c7a47;
// $color-yellow: #bd8e00;
$color-salmon: #e9967a;
$color-orange: #c2481a;
