$color: red;
header, p {
  width: 100%;
  order: 1;
}
h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--darkblue);
}
.intro {
  background-color: $color;
  min-height: 75vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
  margin: auto;
  &__list {
    display: flex;
    justify-content: center;
  }
}
li {
  display: block;
}
